<div class="group_info">
  <h1>Group Name: {{group.name}}</h1>
  <p>Desciption: {{group.description}} </p>
</div>

<div class="group_contributors">
  <h2>Contributors:</h2>
  <ul>
    {{#each contributors}}
    <li class="contributor"> {{name}} {{numberOfPoints}}</li>
    {{/each}}
</div>

<div class="group_posts">
  <h2>Group Posts:</h2>
  <ul>
  {{#if posts}}
  {{#each posts}}
    <li class="post">This is a post
      <!-- <iframe src=`https://open.spotify.com/embed?uri=spotify:track:5JunxkcjfCYcY7xJ29tLai`
        frameborder="0" allowtransparency="true">
      </iframe> -->
    </li>
  {{/each}}
  {{/if}}
</div>

<div class="group_nav">
  <a href="/post/new">New Post</a>
  <a href="/group/edit/{{group._id}}">Edit group</a>
  <a href="group/delete">Delete Group</a>
</div>
