<div class="group_info">
  <h1>Group Name: {{group.name}}</h1>
  <p>Desciption: {{group.description}} </p>
</div>

<div class="group_contributors">
  <h2>Contributors:</h2>
  <ul>
    {{#each contributors}}
    <li class="contributor"> {{contributorDN}}</li>
    {{/each}}
  </ul>
  <div class="group_contributors_nav">
    <a href="/group/add/{{group._id}}">Add member</a>
  </div>
</div>

<div class="group_posts">
  <h2>Posts:</h2>
</div>

<div class="group_post_nav">
  <a href="/post/new/{{group._id}}">New Post</a>
  <a href="/group/edit/{{group._id}}">Edit group</a>
  <a href="/group/delete/{{group._id}}">Delete Group</a>
</div>
