<p>ID: {{ user._id }}</p>
<p>Name: {{ user.displayName }}</p>
<p>Profile: <a href=" {{ user.profileUrl }}">{{ user.profileUrl }}</a></p>
<p>Token:  {{ user.token }} </p>
<p>Refresh Token: {{ user.rToken }} </p>
