<ul>
  {{#each users}}
  <li>Display name: <a href=" {{ profileUrl }}">{{ displayName }}</a> Username: {{ username}} Profile: {{ profileUrl}} Token: {{ token }} Refresh Token: {{rToken}}</li>
  {{/each}}
</ul>
